body {
    position: absolute;
    width: 550px;
    height: 729px;
    left: 76px;
    top: 126px;
    
    background: #eceaea;
}

.top {
    box-sizing: border-box;

    position: absolute;
    width: 550px;
    height: 285px;
    left: 0px;
    top: 0px;

    background: #6943FF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#title {
    position: absolute;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 33px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

#box {
    box-sizing: border-box;

    position: absolute;
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;
    
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

#submit {
    position: absolute;
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;

    background: #FFFFFF;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.firstConverter {
    position: absolute;
    width: 500px;
    height: 108.57px;
    left: 25px;
    top: 321px;

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
}

.secondConverter {
    position: absolute;
    width: 500px;
    height: 108.57px;
    left: 25px;
    top: 453px;

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
}

.thirdConverter {
    position: absolute;
    width: 500px;
    height: 108.57px;
    left: 25px;
    top: 585px;

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
}

#firstMetric {
    position: absolute;
    width: 346px;
    height: 25px;
    left: 77px;
    top: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    color: #5A537B;
}

#firstResult {
    position: absolute;  
    height: 25px;
    left: 77px;
    top: 65px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #353535;
}

#secondMetric {
    position: absolute;
    width: 346px;
    height: 25px;
    left: 77px;
    top: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;


    text-align: center;

    color: #5A537B;
}

#secondResult {
    position: absolute;
    height: 25px;
    left: 77px;
    top: 65px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #353535;
}

#thirdMetric {
    position: absolute;
    width: 346px;
    height: 25px;
    left: 77px;
    top: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    color: #5A537B;
}

#thirdResult {
    position: absolute;
    height: 25px;
    left: 77px;
    top: 65px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #353535;
}